<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- 字符编码过滤 -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.book.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 登陆过滤 -->
    <filter>
        <filter-name>AdminLoginFilter</filter-name>
        <filter-class>com.book.filter.AdminLoginFilter</filter-class>
    </filter>
    <!--登录监听器-->
    <listener>
        <listener-class>com.book.listener.LoginListener</listener-class>
    </listener>

    <filter-mapping>
        <filter-name>AdminLoginFilter</filter-name>
        <url-pattern>/admin/*</url-pattern><!-- 拦截所有访问后台的页面 -->
    </filter-mapping>
    <servlet>
        <servlet-name>IdentityServlet</servlet-name>
        <servlet-class>com.book.servlet.IdentityServlet</servlet-class>
    </servlet>
    <!--验证码-->
    <servlet-mapping>
        <servlet-name>IdentityServlet</servlet-name>
        <url-pattern>/IdentityServlet/IdentifyingCode</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.book.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin/AdminServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>readerServlet</servlet-name>
        <servlet-class>com.book.servlet.ReaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readerServlet</servlet-name>
        <url-pattern>/admin/ReaderServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bookServlet</servlet-name>
        <servlet-class>com.book.servlet.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bookServlet</servlet-name>
        <url-pattern>/admin/BookServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bookCategory</servlet-name>
        <servlet-class>com.book.servlet.BookCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bookCategory</servlet-name>
        <url-pattern>/admin/BookCategoryServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>config</servlet-name>
        <servlet-class>com.book.servlet.ConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>config</servlet-name>
        <url-pattern>/admin/ConfigServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lend</servlet-name>
        <servlet-class>com.book.servlet.LendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lend</servlet-name>
        <url-pattern>/admin/LendServlet/*</url-pattern>
    </servlet-mapping>


    <!-- 配置JSTL -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://www.cxh.com/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/jstl/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.cxh.com/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/jstl/fmt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.cxh.com/jstl/fn</taglib-uri>
            <taglib-location>/WEB-INF/jstl/fn.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>